/BusinessRule1aTest.class
/BusinessRule1bTest.class
/BusinessRule2aTest.class
/BusinessRule2bTest.class
/TestingSuite.class
/AuthorTest.class
/UserTest.class
/ManuscriptTest.class
/ControllerTest.class
/ControllerTest$ControllerTestHelper.class
/SubprogramChairTest.class
/ConferenceTest.class
