/ConferenceMain.class
/JUnitTestingClass.class
/Paper.class
/User.class
/View.class
/Conference.class
/ConferenceReadWrite.class
/UserReadWrite.class
/SubprogramChair.class
/Manuscript.class
/Author.class
/Reviewer.class
/SubprogramChairView.class
